Installing libraries

In [143]:
# Libraries 
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /Users/kavach/opt/anaconda3/envs/movieRecSys/lib/python3.12/site-packages (1.26.2)
Requirement already satisfied: pandas in /Users/kavach/opt/anaconda3/envs/movieRecSys/lib/python3.12/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in /Users/kavach/opt/anaconda3/envs/movieRecSys/lib/python3.12/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/kavach/opt/anaconda3/envs/movieRecSys/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/kavach/opt/anaconda3/envs/movieRecSys/lib/python3.12/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/kavach/opt/anaconda3/envs/movieRecSys/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/kavach/opt/anaconda3/envs/movieRecSys/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Importing

In [144]:
# Importing Libraries 
import numpy as np
import pandas as pd
import ast
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows', None)

In [145]:
## Data
#tmdb_930kx =pd.read_csv('../dataSet/TMDB 2023(930K)/TMDB_movie_dataset_v11.csv')
credits =pd.read_csv('../dataSet/TMDB 5000/tmdb_5000_credits.csv')
movies=pd.read_csv('../dataSet/TMDB 5000/tmdb_5000_movies.csv')

In [146]:
# Merge dataSet
df=movies.merge(credits,on='title')

# Drop columns
df=df[['movie_id','genres', 'keywords', 'title', 'overview', 'cast', 'crew']]

# Missing values
df.isnull().sum()

# Drop null values
df.dropna(inplace=True)

In [147]:
df.iloc[3].genres

'[{"id": 28, "name": "Action"}, {"id": 80, "name": "Crime"}, {"id": 18, "name": "Drama"}, {"id": 53, "name": "Thriller"}]'

In [148]:
# Tags from keywords and genres
def Tags(obj):
    list=[]
    for i in ast.literal_eval(obj):
        list.append(i['name'])
    return list

# Actor  Name for first 3 Character
def Actor(obj):
    list=[]
    counter =0
    for i in ast.literal_eval(obj):
        if counter !=3:
            list.append(i['name'])
            counter+=1
        else:
            break
    return list

# Director Name
def Director(obj):
    list=[]
    for i in ast.literal_eval(obj):
        if i['job'] =='Director':
            list.append(i['name'])
            break
    return list


df['genres']=df['genres'].apply(Tags)
df['keywords']=df['keywords'].apply(Tags)
df['cast']=df['cast'].apply(Actor)
df['crew']=df['crew'].apply(Director)

In [ ]:
# Make overView a  list from String 
df['overview']=df['overview'].apply(lambda x:x.split())

In [ ]:
df['genres']=df['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [150]:

df.head(1)

,movie_id,genres,keywords,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4806 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4806 non-null   int64
 1   genres    4806 non-null   object
 2   keywords  4806 non-null   object
 3   title     4806 non-null   object
 4   overview  4806 non-null   object
 5   cast      4806 non-null   object
 6   crew      4806 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.4+ KB